.mney {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    min-height: 500px;
    position: sticky;
    top: 15px;


}

.con {
    width: 100%;
    height: 1000px;
    margin: 0 auto;
    margin-top: 140px;
    position: sticky;
    top: 15px;

}

.mny1 {
    width: 275px;
    background-color: #ffffff;
    height: 352px;
    border-radius: 6px;


}

.mny2 {
    width: 275px;
    background-color: #ffffff;
    height: 315px;
    border-radius: 6px;
    margin-top: 15px;

    top: 500px;

}

.pimg {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}


.imgy {
    width: 25px;
    height: 25px;
    border-radius: 30px 17px 10px 15px;
    background-color: #ffffff;
    margin: 40px 0 0 -20px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgd {
    width: 9px;
    height: 9px;
    background-color: #11E927;
    border-radius: 50%;
    filter: blur(1px);
    box-shadow: 1px 1px 2px 2px #11E927;
}

.profil {
    display: flex;
    align-items: center;
    height: 90px;
}

.profil1 {
    width: 92%;
    margin: 0 auto;
}

.imp {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #14191F;
    font-family: sans-serif;
    letter-spacing: 1px;
}

.imp1 {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: #14191F;
    font-family: sans-serif;
}

li {
    display: block;
    display: flex;

}

.dd {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.5%;
    color: #14191F;
    letter-spacing: 1px;
    margin-top: 15px;
    padding-left: 15px;
    position: relative;
    z-index: 2;
}

.pt {
    width: 38px;
    height: 32px;
}

.pt1 {
    width: 45px;
    height: 35px;
    margin-left: -5px;
}

.pt4 {
    width: 32px;
    height: 30px;
    margin-left: 5px;
}

.a {
    text-decoration: none;
}

.dd p {
    padding-left: 15px;
}

.sur {
    width: 235px;
    height: 48px;
    background: #EEF2FE;
    border-radius: 8px;
    position: absolute;
    top: 97px;
    z-index: 1;
    transition: .3s;
    cursor: pointer;
}

.bra {
    width: 90%;
    margin: 0 auto;
    display: flex;
    padding-top: 20px;
}

.bra span {
    padding-left: 130px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #1754F2;

}

.bra p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #14191F;
}

.ap {
    width: 74px;
    height: 70px;
    background: #F9F9F9;
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 8px 0 0 8px;
}

.ap img {
    width: 35px;
    height: 35px;
    margin-top: 5px;
}

.app {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

li {
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3);
    position: fixed;
    z-index: 5;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.modal1 {
    width: 405px;
    height: 480px;
    background: #F5F5F5;
    border-radius: 8px;
    margin: 0 auto;
    margin-top: 150px;

}

.input {
    width: 90%;
    height: 50px;
    border-radius: 8px;
    border: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.5%;
    padding-left: 5px;
    background: #F9F9F9;
    margin: 0 auto;
    border-bottom: 1px solid rgb(113, 111, 111);
}

::placeholder {
    color: #B3B3B3;
}



form {
    display: flex;
}

.button1 {
    border: none;
    cursor: pointer;
    background: #F9F9F9;
    font-size: 18px;
    position: absolute;
    margin: 15px 0 0 350px;
}

.sub {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 150%;
    color: #14191F;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 15px;

}

.flow {
    width: 90%;
    margin: 0 auto;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-radius: 8px;
}

.flow img {
    width: 55px;
    height: 55px;
}

.unf {
    width: 94px;
    height: 40px;
    background: #F9F9F9;
    border-radius: 60px;
    border: none;
    margin-left: 20px;
    cursor: pointer;
}

.flow p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130.0%;
    color: #14191F;
}


.calsel {
    width: 94px;
    height: 38px;
    background: #1754F2;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    margin: 5px 0 0 250px;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
}