.menyu {

    margin: 0 auto;

}

.menyu1 {
    width: 560px;
    height: 130px;
    margin: 0 auto 0 10px;
    background: #FFFFFF;
    border-radius: 8px;


}

.menyu2 {
    width: 267px;
    height: 600px;
    position: static;
    border-radius: 8px;
    margin-left: -280px;
    margin-right: 5px;

}


.mn1 {
    width: 95%;
    height: 30px;
    display: flex;
    margin: 0 auto;
    /* opacity: 0.06; */
    border-bottom: 2px solid #b7b9bc;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 25px;

}

.p1 {
    padding-left: 5px;
}

.p2 {
    padding-left: 25px;
}

.p3 {
    padding-left: 5px;
}

.p4 {
    padding-left: 200px;
}

.toy {
    width: 65px;
    height: 75px;
    /* background: rgba(80, 140, 255, 0.1); */
    border-radius: 8px;
}

.mn2 {
    width: 96%;
    height: 50px;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    height: 70%;
    margin: 0 auto;
    margin-bottom: 20px;

}

.ayiq {
    width: 40px;
    height: 40px;


}

.toy {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 6px;
    position: relative;
}

.toy p {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #14191F;
    position: relative;


}

.many {
    display: flex;
    width: 1200px;
    /* background-color: aqua; */
    margin: 0 auto;
    margin-top: -1000px;
}



.keta {
    width: 100%;
    height: 320px;
    border-radius: 8px;
    position: sticky;
    top: 10px;
    margin-bottom: 10px;

}



.keta1 {
    width: 100%;
    height: 320px;
    border-radius: 8px;
    margin-top: 15px;
    position: sticky;
    top: 356px;

}

.menyu3 {
    width: 267px;
    height: 600px;
    border-radius: 8px;
}

.can {
    width: 500px;
    height: 300px;
    background-color: #14191F;
    color: #FFFFFF;
    margin-top: 100px;
}

.tex {
    width: 100%;
    height: 580px;
    background: #FFFFFF;
    border-radius: 8px;
    position: relative;
    margin-bottom: 30px;



}

.texno {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.texno button {
    margin-left: 53%;
    width: 95px;
    height: 38px;
    background: #DFE5F5;
    border-radius: 60px;
    cursor: pointer;
    color: #1754F2;
    border: none;

}

.texnoimg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.texnop {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 154.5%;
    color: #14191F;
    padding-left: 15px;
}

.mac {
    background-image: url(../../assets/mac.png);
    width: 90%;
    margin: 0 auto;
    height: 320px;
    background-size: cover;
    border-radius: 8px;
    margin-top: 25px;
}

.xabar {
    width: 90%;
    margin: 0 auto;
}

.mmc {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 154.5%;
    color: #14191F;
    padding-top: 10px;

}

.m1 {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 154.5%;
    color: #1754F2;


}

.flx {
    display: flex;
    align-items: center;
}

.flx p {


    font-family: sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 134%;
    color: #14191F;
}

.flx img {
    width: 65px;
    height: 25px;
}

.sherimg {
    width: 99px;
    height: 50px;
    margin-left: 20px;
    cursor: pointer;
}

.sherimg1 {
    width: 50px;
    height: 40px;
    position: absolute;
    right: 26px;
    cursor: pointer;
    margin-top: 10px;

}

.pasmenyu {
    width: 100%;
  height: auto;
    background-color: #FFFFFF;
    position: absolute;
    left: 0;
    margin-top: 20px;

}

.pas {
    width: 1200px;
    height: 230px;
    margin: 0 auto;
    display: flex;
}

.ad1 {
    width: 260px;
    height: 230px;
    padding-top: 30px;
}

.addss {
    width: 100px;
    height: 50px;
    background: #1754F2;
    border-radius: 8px;
    font-style: italic;
    font-weight: 5;
    font-size: 32px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;


}

.ad1 p {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 154.5%;
    color: #14191F;
    padding-top: 16px;

}

.ad2 {
    width: 230px;
    height: 230px;
    padding-top: 30px;
    margin-left: 20px;
    color: #14191F;
    opacity: 0.8;
   padding-left: 50px;
   line-height: 28px;
}

.ad3 {
    width: 230px;
    height: 230px;
    padding-top: 30px;
   padding-left: 50px;
      line-height: 28px;

}

.ad4 {
    width: 230px;
    height: 230px;
    padding-top: 30px;
   padding-left: 50px;
      line-height: 28px;

}

.ad5 {
    width: 230px;
    height: 230px;
    padding-top: 30px;
   padding-left: 50px;
      line-height: 28px;


}
.ad2p{
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 130%;
    color: #000000;
    opacity: 1;
  
}

.ad5  img{
    width: 210px;
    margin-top: 10px;
}

.hr{
    width: 1200px;
    height: 2px;
    background-color: #000000;
    margin: 0 auto;
    opacity: .5;
}

.centr{
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
}